<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<div style="display: flex;align-items: center;">
			<ion-buttons slot="start">
				<ion-button fill="clear" *ngIf="page == 'transaction'" routerLink="/transactions">
					<ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
				</ion-button>
				<ion-button fill="clear" *ngIf="page == 'wallet'" routerLink="/wallet">
					<ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title class="ion-no-padding" *ngIf="page == 'transaction'" routerLink="/transactions">View
				Transactions</ion-title>
			<ion-title class="ion-no-padding" *ngIf="page == 'wallet'" routerLink="/wallet">View
				Transactions</ion-title>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="container">
		<!-- <ion-row class="heading">
			<ion-col size="1.5" routerLink="/transactions" *ngIf="page == 'transaction'">
				<img src="./assets/images/Playiconblack 32x32.png" alt="Golden Aces">
			</ion-col>
			<ion-col size="1.5" routerLink="/wallet" *ngIf="page == 'wallet'">
				<img src="./assets/images/Playiconblack 32x32.png" alt="Golden Aces">
			</ion-col>
			<ion-col size="10.5" style="display: flex;align-items: center;">
				<span>View Transactions</span>
			</ion-col>
		</ion-row> -->
		<div class="transactions" *ngIf="transaction">
			<ion-card class="ion-no-padding" class="card">
				<ion-card-content>
					<ion-list lines="full">
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Customer Name</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">{{ transaction.customer?.customer_name
									}}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Mobile Number</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">{{ transaction.customer?.mobile_no }}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Transaction Number</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">{{ transaction.transaction_no}}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Transaction Type</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">{{ transaction.transaction_type}}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Date</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left"
									size="12" class="details">{{changeFormat(transaction.transaction_date_time)}}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Requested Amount</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">₹{{ transaction.total_amount }}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Amount</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">₹{{ transaction.amount }}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Status</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="12" class="details">
									<span class="approved" *ngIf="transaction.status == 'Approved'">Approved</span>
									<span class="pending" *ngIf="transaction.status == 'Pending'">Pending</span>
									<span class="rejected" *ngIf="transaction.status == 'Rejected'">Rejected</span>
								</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;"
							*ngIf="transaction.payment_mode">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Payment Mode</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left"
									size="12" class="details">{{transaction.payment_mode.payment_mode}}</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;"
							*ngIf="transaction.attachment">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Document</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-right" size="12">
									<ion-icon style="height: 22px; width: 22px;" name="download-outline"
										(click)="download(transaction.attachment)"></ion-icon>
								</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;"
							*ngIf="transaction.reference_id">
							<ion-row>
								<ion-col class="ion-text-left date" size="12">Reference No</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-right" size="12">
									<ion-col class="ion-text-left" size="12" class="details">{{transaction.reference_id}}</ion-col>
								</ion-col>
							</ion-row>
						</div>
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">

							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="6"
									style="display: flex;align-items: center;">Download Receipt</ion-col>
								<ion-col class="ion-text-right" size="6">
									<ion-col class="ion-text-left" size="12" class="details">
										<ion-button fill="clear" (click)="viewReceipt()">
											<ion-icon name="download-outline" color="primary"
												slot="icon-only"></ion-icon>
										</ion-button>
									</ion-col>
								</ion-col>
							</ion-row>
						</div>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
</ion-content>