<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="signup" text=""></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">Policies</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<h5>Return Policy</h5>
		<p >
			We dont have return policy as it is not applicable to our business. We are enagaged in the business of
			providing a platform for games of skills and because the services provided by us are inherently consumed
			and unlike tangible products, it cannot be physically returned or reverted consequently, once a service
			has been delivered, it is irrevocable and cannot be undone or returned in any physical form.
		</p>

		<h5>Shipping Policy</h5>
		<p >
			We dont have a shipping policy because we are enagaged in the business of
			providing a platform for games of skills which do not encompass the handling or distribution of physical
			goods. Therefore, it is a service and we dont have a shipping policy.
		</p>
		<h5>Refund Policy</h5>
		<p>
			We dont have refund policy as we are in the service industry wherein we provide a platform for games of
			skills. The paymentis only made after consumption of service and hence no refund policy is applicable.
			However in case of failed transaction the amount shall be credited back to customers account as per the
			Bank Policies or the policies of the platform used to make such transactions or the aggregator used for
			such transactions.
		</p>
	</div>
</ion-content>