<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<ion-item class="header" lines="none">
			<span routerLink="/signup"><img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces"></span>
		</ion-item>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="container" *ngIf="user">
		<form class="form" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
			<div class="heading">
				<div class="text">
					Please enter your
				</div>
				<div class="text">
					secure OTP
				</div>
			</div>
			<ion-item class="input-item">
				<ion-label position="floating">
					6-Digit OTP
				</ion-label>
				<ion-input class="input" type="tel" formControlName="otp"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validations.otp">
					<div class="error-message"
						*ngIf="otpForm.get('otp').hasError(validation.type) && (otpForm.get('otp').dirty || otpForm.get('otp').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
			<div class="error-container" *ngIf="errors && errors.otp">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ errors.otp[0] }}</span>
					</div>
				</ng-container>
			</div>
			<div class="resend">
				<div class="text-1">We've sent it to <span class="span">+91 {{ user.mobile_no }}</span></div>
				<div class="text-2">Didn't get it? Don't worry request another one in <span class="span"
						*ngIf="!resend"> {{seconds}}s</span>
					<span class="span" *ngIf="resend" (click)="resendOtp()">Resend</span>
				</div>
			</div>
			<ion-button class="btn" type="submit" expand="block">
				<ion-label>Continue</ion-label>
				<img src="./assets/images/_.png" alt="Golden Aces">
			</ion-button>
		</form>
	</div>
</ion-content>