:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-auth);
}

.container {
    padding: var(--page-margin);
    --background: var(--page-background);
}

ion-button {
    ion-label {
        font-size: 18px;
    }
}