<ion-header>
	<ion-toolbar>
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" routerLink="/profile">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;">
						<span>Manage Notifications</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container" *ngIf="customer">
		<div class="transactions">
			<ion-list lines="full">
				<div class="header">
					Details
				</div>
				<div>
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="12">Wallet and Bank SMS
							Subscriptions</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<ion-col size="10" class="ion-no-margin ion-no-padding">
							<p class="ion-text-left details">Alerts for Transactions Via Golden Aces App and Wallet
							</p>
						</ion-col>
						<ion-col size="2" class="ion-text-right">
							<ion-toggle #wallet id="wallet" mode="ios"
								(ionChange)="toggle($event,'wallet', customer.wallet)"
								[(ngModel)]="customer.wallet"></ion-toggle>
						</ion-col>
					</ion-row>
				</div>
				<div>
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="12">Tournaments, Promotions &
							Offers</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<ion-col size="10" class="ion-no-margin ion-no-padding">
							<p class="ion-text-left details">Alerts for Tournaments, Promotions & Offers from Golden
								Aces Club and Partners
							</p>
						</ion-col>
						<ion-col size="2" class="ion-text-right">
							<ion-toggle #promo id="promo" mode="ios"
								(ionChange)="toggle($event,'promo', customer.promo)"
								[(ngModel)]="customer.promo"></ion-toggle>
						</ion-col>
					</ion-row>
				</div>
				<div>
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="12">Whatsapp Notifications</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<ion-col size="10" class="ion-no-margin ion-no-padding">
							<p class="ion-text-left details">Receive Important Account Updates and Exclusive Offers
								Via Whatsapp
							</p>
						</ion-col>
						<ion-col size="2" class="ion-text-right">
							<ion-toggle #whatsapp id="whatsapp" mode="ios"
								(ionChange)="toggle($event,'whatsapp', customer.whatsapp)"
								[(ngModel)]="customer.whatsapp"></ion-toggle>
						</ion-col>
					</ion-row>
				</div>
			</ion-list>
		</div>
	</div>
</ion-content>