:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
	--background: var(--page-background);
}

ion-header {
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.container {
    padding: var(--page-margin);
}

.heading {
    margin-top: 48px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        font-family: 'NotoSans';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

.card {
    z-index: 1;
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 104px;

    ion-card-content {
        padding: 0px;
        background: url('/assets/images/Rectangle 27.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;
        height: 256px;

        .background-img {
            width: 100%;
            height: 100%;
            opacity: 72%;
        }

        .frame {
            height: 32px;
            width: 49px;
        }
    }
}

ion-segment {
	--background: var(--ion-color-light);
	color: #000000;
	border-radius: 10px;
}

ion-card {
	box-shadow: none;
	border-radius: 10px;
}

.segment-button-checked {
	// background:#000;
	border-radius: 10px;
}

.pan {
	// border: 1px solid #c4a856;
	border-radius: 10px;
	border-style: groove;
}

.upload-image {
	min-height: 200px;
	border: 1px solid rgb(173, 165, 165);
	border-radius: 10px;
	// border-style: dashed;
	margin: 0px 16px 10px 16px;
	display: flex;
	align-items: center;
	justify-content: center;

	.add-file {
		height: 4rem;
		width: 4rem;
		color: #000;
	}

	.remove-file {
		height: 1.5rem;
		width: 1.5rem;
		color: #000
	}
}

ion-list {
	// background-color: #f4f5f8;
	padding-top: 0px;

	ion-item {
		border-radius: 10px;
		ion-icon {
			margin: 15px 10px 5px 0px !important;
		}
		margin-bottom: 10px;
	}
}

.customer-name {
    font-family: "NotoSans";
    color: #858585;
    font-size: 18px;
}