:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-auth);
}

.container {
    padding: var(--page-margin);
    --background: var(--page-background);
}

.info {
    font-family: 'NotoSans';
    font-size: 14px;
    font-weight: 457;
    line-height: 12px;
    letter-spacing: -0.03em;
    color: #858585;
}

a {
    color: #858585;
}

.tandc {
	margin-inline: -10px;
	margin-top: 10px;

	ion-checkbox {
		height: 20px;
		width: 20px;
		margin-bottom: -4px;
		margin-left: 5px;
	}

	span {
		margin-left: 5px;
		color: #c4a856;
		// text-align: center;
	}
}