<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<ion-item class="header" lines="none">
			<span routerLink="/signup"><img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces"></span>
		</ion-item>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<div class="container">
		<form class="form" [formGroup]="referralForm" (ngSubmit)="register()">
			<div class="heading">
				<div class="text">
					Have a Referral Code?
				</div>
				<ion-row>
					<ion-col size="6" class="ion-text-left ion-no-margin ion-no-padding">
						<span class="info">
							EARN 2X REWARDS
						</span>
					</ion-col>
					<ion-col size="6" class="ion-text-right ion-no-margin ion-no-padding">
						<a href="">
							<span class="info">
								Know More
							</span>
						</a>
					</ion-col>
				</ion-row>
			</div>
			<ion-item class="input-item">
				<ion-label position="floating">
					Referral
				</ion-label>
				<ion-input class="input" type="text" formControlName="referral_code"></ion-input>
			</ion-item>
			<span class="info" (click)="register()">
				<a style="text-decoration: underline;"><ion-label>I don't have a Referral</ion-label></a>
			</span>
			<ion-button class="btn" type="submit" expand="block">
				<ion-label>Continue</ion-label>
				<img src="./assets/images/_.png" alt="Golden Aces">
			</ion-button>
		</form>
	</div>
	<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
		<ng-template>
			<ion-content>
				<div class="ion-padding" *ngIf="terms">
					<p [innerHTML]="terms.description"></p>
					<div class="tandc ion-text-center">
						<span>
							<ion-checkbox #checkbox id="myCheck" value="option" (click)="onChanged($event)">
							</ion-checkbox>
						</span>
						<span>
							<ion-label for="checkbox">I agree to these Terms
								& Conditions.
							</ion-label>
						</span>
					</div>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>