<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="signup" text=""></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-no-padding" *ngIf="terms">{{terms.term}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container" *ngIf="terms">
		<p [innerHTML]="terms.description"></p>
	</div>
</ion-content>