:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
    --background: #fff;
}

ion-header {
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.container {
    padding: var(--page-margin);
}

.heading {
    margin-top: 48px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        font-family: 'NotoSans';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

.card {
    z-index: 1;
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 104px;
    box-shadow: none;
    ion-card-content {
        padding: 0px;
        background: url('/assets/images/Rectangle 27.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;
        height: 256px;

        .background-img {
            width: 100%;
            height: 100%;
            opacity: 72%;
        }

        .frame {
            height: 32px;
            width: 49px;
        }
    }
}

.grid {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;

    .amount-div {
        min-width: 128px;
        min-height: 72px;
        border-radius: 8px;
        padding: 5px;
        background-color: #EAEAEA;
    }

    .amount {
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #3E3E3E;

        .हिन्दी {
            font-family: 'InknutAntiqua-Regular';
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #164D59;
        }
    }
}

.grid div {
    width: 100%;
}