<ion-header>
	<ion-toolbar class="ion-no-border">
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" routerLink="/profile">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;">
						<span>Manage Notifications</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<div class="grid">
			<div id="english" class="amount-div" style="background-color: #164D59;" (click)="selectLanguage('english')">
				<div class="amount">
					<ion-row>
						<ion-col size="3">
							<img id="englishimageunselected" src="./assets/images/Magnifier icon_unselected 16x16.png"
								alt="Golden Aces">
						</ion-col>
						<ion-col size="9">
							<ion-label>
								<p>English</p>
							</ion-label>
						</ion-col>
					</ion-row>
				</div>
			</div>
			<div id="hindi" class="amount-div" (click)="selectLanguage('hindi')">
				<div class="amount">
					<ion-row>
						<ion-col size="3">
							<img id="hindiimageunselected" src="./assets/images/Magnifier icon_unselected 16x16.png"
								alt="Golden Aces">
						</ion-col>
						<ion-col size="9" class="ion-no-padding">
							<ion-label>
								<p><span class="हिन्दी">हिन्दी</span> <br>Hindi</p>
							</ion-label>
						</ion-col>
					</ion-row>
				</div>
			</div>
			<div id="kannad" class="amount-div" (click)="selectLanguage('kannad')">
				<div class="amount">
					<ion-row>
						<ion-col size="3">
							<img id="kannadimageunselected" src="./assets/images/Magnifier icon_unselected 16x16.png"
								alt="Golden Aces">
						</ion-col>
						<ion-col size="9" class="ion-no-padding">
							<ion-label>
								<p><span class="हिन्दी">ಕನ್ನಡ</span> <br>Kannad</p>
							</ion-label>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</div>
	</div>
</ion-content>