<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<ion-item class="header" lines="none">
			<img src="./assets/images/Playicon_profile 32x32.png" routerLink="/signup" alt="Golden Aces">
		</ion-item>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<form class="form" [formGroup]="emailForm" (ngSubmit)="verifyEmail()">
			<div class="heading">
				<div class="text">
					We don't have Pigeons,
				</div>
				<div class="text">
					let's get your Email
				</div>
			</div>
			<ion-item class="input-item">
				<ion-label position="floating">
					Email-ID
				</ion-label>
				<ion-input class="input" type="email" formControlName="email"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validations.email">
					<div class="error-message"
						*ngIf="emailForm.get('email').hasError(validation.type) && (emailForm.get('email').dirty || emailForm.get('email').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
			<div class="resend">
				<div class="text-2">Note: This email ID would be linked to your Wallet / Account </div>
			</div>
			<ion-button class="btn" type="submit" [disabled]="!emailForm.valid">
				<ion-label>Continue</ion-label>
				<img src="./assets/images/_.png" alt="Golden Aces">
			</ion-button>
		</form>
	</div>
</ion-content>