<ion-header>
	<ion-toolbar>
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" routerLink="/profile">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;" >
						<span>Basic Details</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
			<ion-avatar style="width: 80px;height: 80px;margin: auto; margin-top: 15px;">
				<img [src]="customer?.avatar" alt="Golden Aces">
			</ion-avatar>
		<div class="ion-text-center profile-details">
			<!-- <div class="profile-name">Edit</div> -->
		</div>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container" *ngIf="customer">
		<div class="input-heading">Full Name</div>
		<ion-input class="input" readonly [(ngModel)]="customer.customer_name"></ion-input>
		<div class="input-heading">Email Address</div>
		<ion-input class="input" readonly [(ngModel)]="customer.email"></ion-input>
		<div class="input-heading">Customer Number</div>
		<ion-input class="input" readonly [(ngModel)]="customer.customer_no"></ion-input>
		<div class="input-heading">City</div>
		<ion-input class="input" readonly [(ngModel)]="customer.city"></ion-input>
		<div class="input-heading">Pincode</div>
		<ion-input class="input" readonly [(ngModel)]="customer.pincode"></ion-input>
		<!-- <ion-row class="button">
			<ion-button class="btn-payments-deposit ion-text-center" (click)="update(customer)">
				<span>Submit</span>
			</ion-button>
		</ion-row> -->
	</div>
</ion-content>