:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--app-background);
}

ion-content {
	--background: #fff;
}

ion-header {
	padding: 0%;
	margin: 0%;
	--background: #001317;
	margin: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	height: 200px;
}

.container {
	padding: var(--page-margin);
}

.heading {
	margin-top: 48px;
	margin-bottom: 16px;
	margin-left: 24px;
	margin-right: 24px;

	img {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		font-family: 'NotoSans';
		font-size: 21px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0.01em;
		color: #FFFFFF;
	}
}

.card {
	z-index: 1;
	padding: 0%;
	margin: 0%;
	--background: #001317;
	margin: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	height: 104px;

	ion-card-content {
		padding: 0px;
		background: url('/assets/images/Rectangle 27.png') no-repeat center center fixed;
		background-size: cover;
		/* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
		-webkit-background-size: cover;
		/* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
		-moz-background-size: cover;
		/* optional for Firefox 3.6 */
		-o-background-size: cover;
		/* for Opera 9.5 */
		overflow: hidden;
		background-size: cover;
		overflow: hidden;
		height: 256px;

		.background-img {
			width: 100%;
			height: 100%;
			opacity: 72%;
		}

		.frame {
			height: 32px;
			width: 49px;
		}
	}
}

.avatar {
	ion-avatar {
		position: absolute;
		top: 10.0rem;
		left: 50%;
		z-index: 1;
		transform: translate(-50%);
		// display: flex;
		// justify-content: center;
	}
}

.profile-details {
	margin-top: 10px;

	.profile-name {
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #2E2E2E;
	}
}

.input-heading {
	font-family: 'NotoSans';
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #262626;
	margin-bottom: 12px;
}

.input {
	margin-bottom: 12px;
	border-radius: 4px;
	box-shadow: none;
	height: 40px;
	border: 0.5px solid #164D59;
}

ion-input {
	--padding-start: 10px;
	--highlight-color-focused: "#F5FAFF";
}

.input-fill-outline {
	--border-color: #164D59;
	// min-height: 40px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	// margin-top: 16px;
	font-family: 'NotoSans';
	font-size: 14px;
	font-weight: 500;
	line-height: 13px;
	letter-spacing: 0.01em;

	ion-button {
		--box-shadow: none;
	}

}

.btn-payments-deposit {
	height: 40px;
	min-width: 210px;
	--border-radius: 24px;
	--background: #164D59;
	padding: 0px 0px 0px 0px;

	span {
		margin-top: 2px;
	}
}