<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border" *ngIf="show_login">
		<ion-item class="header" lines="none">
			<ion-thumbnail class="logo" style="height: 70px; width: 70px;">
				<img src="./assets/images/logo.png" style="height: 100%;width: 100%;" alt="Golden Aces">
			</ion-thumbnail>
			<ion-chip [outline]="true" slot="end">
				<img src="./assets/images/polygon.png" alt="Golden Aces" />
				<span>
					<a href="https://goldenaces.club/" style="text-decoration: none !important; color: black;">About
						Golden Aces</a>
				</span>
			</ion-chip>
		</ion-item>
	</ion-toolbar>
	<ion-toolbar class="ion-no-border" *ngIf="show_otp">
		<div (click)="goToLogin()" style="display: flex;align-items: center;">
			<ion-buttons slot="start">
				<ion-button fill="clear">
					<ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title class="ion-no-padding">Back</ion-title>
		</div>
		<!-- <ion-item class="header" lines="none">
			<span (click)="goToLogin()"><img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces"></span>
		</ion-item> -->
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<form class="form" [formGroup]="loginForm" *ngIf="show_login">
			<div class="heading">
				<div class="text">
					We'll need your
				</div>
				<div class="text">
					Mobile number
				</div>
			</div>
			<ion-item class="input-item" lines="inset" style="margin-right: 0px; margin-inline-start: -16px;">
				<ion-label position="floating" style="font-size: 20px; padding-bottom: 18px;">
					Please enter your Mobile number
				</ion-label>
				<ion-input class="input" mode="md" type="tel" maxlength="10" formControlName="mobile_no"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validations.mobile_no">
					<div class="error-message"
						*ngIf="loginForm.get('mobile_no').hasError(validation.type) && (loginForm.get('mobile_no').dirty || loginForm.get('mobile_no').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
			<div class="error-container" *ngIf="errors && errors.mobile_no">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ errors.mobile_no[0] }}</span>
					</div>
				</ng-container>
			</div>
			<ion-row class="tandc">
				<ion-col size="1" style="display: flex;align-items: start;">
					<ion-checkbox #checkbox id="myCheck" value="option" (click)="onChange($event)"></ion-checkbox>
				</ion-col>
				<ion-col size="11" class="ion-text-left ion-no-margin ion-no-padding"
					style="display: flex;align-items: start;">
					<ion-label style="margin-left: 5px;color: #6c757d;font-size: 14px;" for="checkbox">I am 18 years or
						above and agree to these <a style="text-decoration: none;color:#383838"
							routerLink="/terms-conditions">Terms
							& Conditions</a><span style="margin-left: 5px;margin-right: 0px;">and</span><a
							style="text-decoration: none;color:#383838" routerLink="/privacy"> Privacy Policy</a>
					</ion-label>
				</ion-col>
			</ion-row>
		</form>
		<form class="form" [formGroup]="otpForm" *ngIf="user && show_otp">
			<div class="heading">
				<div class="text">
					Please enter your
				</div>
				<div class="text">
					secure OTP
				</div>
			</div>
			<ion-item class="input-item" lines="inset" style="margin-right: 0px; margin-inline-start: -16px;">
				<ion-label position="floating" style="font-size: 20px; padding-bottom: 18px;">
					6-Digit OTP
				</ion-label>
				<ion-input class="input" type="tel" formControlName="otp"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validations.otp">
					<div class="error-message"
						*ngIf="otpForm.get('otp').hasError(validation.type) && (otpForm.get('otp').dirty || otpForm.get('otp').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
			<div class="error-container" *ngIf="errors && errors.otp">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ errors.otp[0] }}</span>
					</div>
				</ng-container>
			</div>
			<div class="resend">
				<div class="text-1">We've sent it to <span class="span">+91 {{ loginForm.value.mobile_no }}</span></div>
				<div class="text-2">Didn't get it? Don't worry request another one in <span class="span"
						*ngIf="!resend"> {{seconds}}s</span>
					<span class="resend-button" *ngIf="resend" (click)="resendOtp()">Resend</span>
				</div>
			</div>
		</form>
		<form class="form" [formGroup]="referralForm" *ngIf="show_referral">
			<div class="heading">
				<div class="text">
					Register
				</div>
			</div>
			<ion-item class="input-item">
				<ion-label position="floating">
					Email-ID
				</ion-label>
				<ion-input class="input" type="email" formControlName="email"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validations.email">
					<div class="error-message"
						*ngIf="referralForm.get('email').hasError(validation.type) && (referralForm.get('email').dirty || referralForm.get('email').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
			<div class="error-container" *ngIf="errors && errors.email">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ errors.email[0] }}</span>
					</div>
				</ng-container>
			</div>
			<ion-item class="input-item">
				<ion-label position="floating">
					Referral
				</ion-label>
				<ion-input class="input" type="text" formControlName="referral_code"></ion-input>
			</ion-item>
			<span class="info" (click)="register()">
				<a style="text-decoration: underline;"><ion-label>I don't have a Referral</ion-label></a>
			</span>
		</form>
		<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
			<ng-template>
				<ion-content>
					<div class="ion-padding" *ngIf="terms">
						<p [innerHTML]="terms.description"></p>
						<ion-row class="tc ion-text-center">
							<ion-col size="1" style="display: flex;align-items: center;justify-content: center;">
								<ion-checkbox #checkbox id="myCheck" value="option" (click)="onChanged($event)">
								</ion-checkbox>
							</ion-col>
							<ion-col size="11" class="ion-text-left" style="display: flex;align-items: center;">
								<ion-label style="margin-left: 10px;" for="checkbox">I agree to these Terms
									& Conditions.
								</ion-label>
							</ion-col>
						</ion-row>
					</div>
				</ion-content>
			</ng-template>
		</ion-modal>
	</div>
</ion-content>
<ion-footer class="ion-no-border container">
	<ion-toolbar>
		<div *ngIf="show_login">
			<ion-button class="btn-not-valid" shape="round" expand="block" *ngIf="!loginForm.valid || status=='true'">
				<span style="color: #000000;">Proceed</span>
			</ion-button>
			<ion-button class="btn" type="submit" shape="round" expand="block"
				*ngIf="loginForm.valid && status!=='true'" (click)="sendOtp()">
				<span style="color: #fff;">Proceed</span>
			</ion-button>
			<div class="ion-text-center">
				<small style="margin-right: 10px; text-decoration: underline;color: #858585;"
					(click)="viewPolicies('return')">Return Policy</small>
				<small style="margin-right: 10px; text-decoration: underline;color: #858585;"
					(click)="viewPolicies('shipping')">Shipping Policy</small>
				<small style="text-decoration: underline;color: #858585;" (click)="viewPolicies('refund')">Refund
					Policy</small>
			</div>
			<div class="ion-text-center">
				<small class="ion-text-center">This game maybe habit forming and financially risky. Play
					responsibly.</small>
			</div>
		</div>
		<div *ngIf="user && show_otp">
			<ion-button class="btn-not-valid" shape="round" expand="block" *ngIf="!otpForm.valid">
				<span style="color: #000000;">Proceed</span>
			</ion-button>
			<ion-button class="btn" type="submit" shape="round" expand="block" *ngIf="otpForm.valid"
				(click)="verifyOtp()">
				<span style="color: #fff;">Proceed</span>
			</ion-button>
			<div class="ion-text-center">
				<small style="margin-right: 10px; text-decoration: underline;color: #858585;"
					(click)="viewPolicies('return')">Return Policy</small>
				<small style="margin-right: 10px; text-decoration: underline;color: #858585;"
					(click)="viewPolicies('shipping')">Shipping Policy</small>
				<small style="text-decoration: underline;color: #858585;" (click)="viewPolicies('refund')">Refund
					Policy</small>
			</div>
			<div class="ion-text-center">
				<small class="ion-text-center">This game maybe habit forming and financially risky. Play
					responsibly.</small>
			</div>
		</div>
		<div *ngIf="show_referral">
			<ion-button class="btn" type="submit" shape="round" expand="block" (click)="register()">
				Continue
			</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>