:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-auth);
}

.container {
    padding: var(--page-margin);
    --background: var(--page-background);
}

ion-button {
    ion-label {
        font-size: 18px;
    }
}


.tc {
    ion-label {
        font-size: 12px;
    }
}

ion-thumbnail {
    height: 45px;
    width: 65px;

    img {
        width: 100%;
    }
}

.tandc {
    ion-checkbox {
        --size: 16px
    }
}

.resend-button {
    font-family: 'NotoSans';
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.03em;
    color: #3880ff;
    margin-bottom: 5px;

}

.btn {
    // --background: #D9D9D9;
    border: 1px solid #949494;
    --background: #164D59;
    --color: #FFFF;
    height: 48px;
    --box-shadow: none;
    width: auto;
    height: 48px;
    // position: absolute;
    // top: 80%;
    // left: 24px;
    // right: 24px;
    // bottom: 10%;
    border-radius: 48px;

    ion-label {
        position: absolute;
        left: 0;
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 500;
        line-height: 17.34px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    img {
        position: absolute;
        right: 0;
        color: #000000;
        height: 11px;
        width: 16px;
    }
}

.btn-not-valid {
    --background: transparent !important;
    border: 1px solid #949494;
    color: #000000;
    height: 48px;
    --box-shadow: none;

    width: auto;
    height: 48px;
    // position: absolute;
    // top: 80%;
    // left: 24px;
    // right: 24px;
    border-radius: 48px;

    ion-label {
        position: absolute;
        left: 0;
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 500;
        line-height: 17.34px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    img {
        position: absolute;
        right: 0;
        color: #000000;
        height: 11px;
        width: 16px;
    }
}

.info {
    font-family: 'NotoSans';
    font-size: 14px;
    font-weight: 457;
    line-height: 12px;
    letter-spacing: -0.03em;
    color: #858585;
    margin-left: 5px;
}

a {
    color: #858585;
}

.tc {
    // margin-inline: -10px;
    margin-top: 10px;

    ion-checkbox {
        height: 20px;
        width: 20px;
        margin-bottom: -4px;
        margin-left: 5px;
    }

    span {
        margin-left: 5px;
        color: #c4a856;
        // text-align: center;
    }
}

ion-footer {
    background-color: #FFFF;
}