<ion-content fullscreen>
	<div class="ion-padding">
		<ion-button routerLink="/home" style="color: black;" fill="clear">
			<img src="./assets/images/Playiconblack 32x32.png" alt="Golden Aces">
		</ion-button>
	</div>
	<ion-card class="ion-padding" *ngIf="code!=null" id="container">
		<ion-card-content>
			<qrcode [qrdata]="code" [width]="256" [errorCorrectionLevel]="'Q'" [imageSrc]="'assets/img/1.jpg'"></qrcode>
		</ion-card-content>
	</ion-card>
</ion-content>