:host {
	--page-margin: var(--app-broad-margin);
}

ion-content {
	--background: var(--ion-color-light);

	ion-card {
		box-shadow: none;
		border-radius: 10px;
	}
}

.container {
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
}