<ion-header>
	<ion-toolbar>
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" routerLink="/profile">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;">
						<span>About Us</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<ion-row id="about-us" class="ion-margin-vertical">
			<ion-col size="10" class="ion-no-margin ion-no-padding">
				<div>
					About Us
				</div>
			</ion-col>
			<ion-col size="2" class="ion-no-margin ion-no-padding ion-text-right">
				<div>
					<img src="./assets/images/arrow_right.png" alt="Golden Aces">
				</div>
			</ion-col>
		</ion-row>
		<ion-row id="privacy" class="ion-margin-vertical">
			<ion-col size="10" class="ion-no-margin ion-no-padding">
				<div>
					Privacy Policy
				</div>
			</ion-col>
			<ion-col size="2" class="ion-no-margin ion-no-padding ion-text-right">
				<div>
					<img src="./assets/images/arrow_right.png" alt="Golden Aces">
				</div>
			</ion-col>
		</ion-row>
		<ion-row id="term">
			<ion-col size="10" class="ion-no-margin ion-no-padding">
				<div>
					Terms & Conditions
				</div>
			</ion-col>
			<ion-col size="2" class="ion-no-margin ion-no-padding ion-text-right">
				<div>
					<img src="./assets/images/arrow_right.png" alt="Golden Aces">
				</div>
			</ion-col>
		</ion-row>
	</div>
	<ion-modal #aboutUs trigger="about-us" handle="false" [initialBreakpoint]="1" [breakpoints]="[1]">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-card class="card">
						<ion-card-content>
							<ion-row class="heading">
								<ion-col size="1.5" (click)="closeAboutUs()">
									<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
								</ion-col>
								<ion-col size="10.5" style="display: flex;align-items: center;">
									<span>About Us</span>
								</ion-col>
							</ion-row>
						</ion-card-content>
					</ion-card>
				</ion-toolbar>
			</ion-header>
			<ion-content class="modal-container">
				<div class="container">
					<p class="modal-body">
						India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
						experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
						Aces is a must-visit destination!
					</p>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
	<ion-modal #privacy trigger="privacy" handle="false" [initialBreakpoint]="1" [breakpoints]="[1]">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-card class="card">
						<ion-card-content>
							<ion-row class="heading">
								<ion-col size="1.5" (click)="closePrivacy()">
									<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
								</ion-col>
								<ion-col size="10.5" style="display: flex;align-items: center;">
									<span>Privacy Policy</span>
								</ion-col>
							</ion-row>
						</ion-card-content>
					</ion-card>
				</ion-toolbar>
			</ion-header>
			<ion-content class="modal-container">
				<div class="container">
					<span class="about-text">About us </span><span class="privacy-text">> Privacy policy</span>
					<div class="modal-heading">
						Privacy Policy
					</div>
					<p class="modal-body">
						India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
						experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
						Aces is a must-visit destination!
					</p>
					<p class="modal-body">
						This page is used to inform visitors regarding our policies with the collection, use, and
						disclosure of Personal Information if anyone decided to use our Service.
					</p>
					<p class="modal-body">
						If you choose to use our Service, then you agree to the collection and use of information in
						relation to this policy. The Personal Information that we collect is used for providing and
						improving the Service. We will not use or share your information with anyone except as described
						in this Privacy Policy.

						The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
						which are accessible at Golden Aces unless otherwise defined in this Privacy Policy.
					</p>
					<div class="modal-heading">
						Information Collection and Use
					</div>
					<p class="modal-body">
						India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
						experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
						Aces is a must-visit destination!
					</p>
					<p class="modal-body">
						India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
						experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
						Aces is a must-visit destination!
					</p>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
	<ion-modal #term trigger="term" handle="false" [initialBreakpoint]="1" [breakpoints]="[1]">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-card class="card">
						<ion-card-content>
							<ion-row class="heading">
								<ion-col size="1.5" (click)="closeTerm()">
									<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
								</ion-col>
								<ion-col size="10.5" style="display: flex;align-items: center;">
									<span>Terms & Conditions</span>
								</ion-col>
							</ion-row>
						</ion-card-content>
					</ion-card>
				</ion-toolbar>
			</ion-header>
			<ion-content class="modal-container">
				<div class="container">
					<span class="about-text">About us </span><span class="privacy-text">> Terms & Conditions</span>
					<div class="modal-heading">
						Terms & Conditions
					</div>
					<p class="modal-body">
						We will be back soon!
					</p>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>