<ion-header>
	<ion-toolbar>
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" routerLink="/profile">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;">
						<span>Club Rules</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<div class="header">
			Club Rules
		</div>
		<div *ngIf="terms">
			<ion-row class="ion-margin-vertical" *ngFor="let term of terms" (click)="viewTerms(term)">
				<ion-col size="10" class="ion-no-margin ion-no-padding">
					<div class="label">
						{{ term.term }}
					</div>
				</ion-col>
				<ion-col size="2" class="ion-no-margin ion-no-padding ion-text-right">
					<div>
						<img src="./assets/images/arrow_right.png" alt="Golden Aces">
					</div>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>