:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
    --background: #fff;
}

ion-header {
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.container {
    padding: var(--page-margin);
}

.heading {
    margin-top: 48px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        font-family: 'NotoSans';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

.card {
    z-index: 1;
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 104px;

    ion-card-content {
        padding: 0px;
        background: url('/assets/images/Rectangle 27.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;
        height: 256px;

        .background-img {
            width: 100%;
            height: 100%;
            opacity: 72%;
        }

        .frame {
            height: 32px;
            width: 49px;
        }
    }
}

.header {
    font-family: 'NotoSans';
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #262626;
}

.label {
    font-family: 'NotoSans';
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #262626;
}

.view-all {
    width: 96px;
    height: 32px;
    border-radius: 16px;
    background-color: #D3EAEB;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;

    .text {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #164D59;
    }
}