:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--app-background);
}

ion-content {
	--background: var(--page-background);
}

ion-header {
	--background: #001317;

	ion-toolbar {
		--background: #001317;
		color: #ffff;
	}

	ion-buttons {
		margin-left: 8px;
	}

}

.container {
	padding: var(--page-margin);
}

.info {
	border-radius: 16px;
	box-shadow: none;
	padding: 0px;
	margin: 0px;
	background-image: linear-gradient(#FFE3B5, #AC9D85);
	height: 200px;

	ion-card-content {
		height: 200px;
		padding: 24px;
		background: url('/assets/images/Frame 5824.png') no-repeat center center fixed;
		background-size: cover;
		/* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
		-webkit-background-size: cover;
		/* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
		-moz-background-size: cover;
		/* optional for Firefox 3.6 */
		-o-background-size: cover;
		/* for Opera 9.5 */
		overflow: hidden;
		background-size: cover;
		overflow: hidden;

		.balance-header {
			color: #ffff;
			font-size: 20px;
		}

		.balance {
			color: #ffff;
			font-size: 18px;
			font-weight: 700;
		}

		.customer-name {
			color: #ffff;
			font-size: 16px;
			font-weight: 400;
		}

		.customer-code {
			color: #ffff;
			font-size: 16px;
			font-weight: 400;
		}
	}
}

.btn-payments-wallet {
	height: 40px;
	--border-radius: 24px;
	border-radius: 24px;
	--background: transparent !important;
	border: 1px solid #164D59;
	color: #164D59;
	// --background: #164D59 ;
	padding: 0px 0px 0px 0px;

	span {
		margin-top: 2px;
	}
}

.buttons {
	padding-top: 16px;
}

.deposit-button {
	height: 40px;
	--border-radius: 24px;
	border-radius: 24px;
	// --background: transparent !important;
	border: 1px solid #164D59;
	color: #164D59;
	--background: #D3EAEB;
	padding: 0px 0px 0px 0px;
	--box-shadow: none;

	span {
		margin-top: 2px;
	}
}

.buy-in-button {
	height: 40px;
	--border-radius: 24px;
	border-radius: 24px;
	// --background: transparent !important;
	border: 1px solid #767676;
	color: #767676;
	--background: #DCDCDC;
	padding: 0px 0px 0px 0px;
	--box-shadow: none;

	span {
		margin-top: 2px;
	}
}

.heading {
	padding-top: 16px;
	margin-bottom: 16px;

	span {
		font-family: 'NotoSans';
		font-size: 21px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0.01em;
		color: #000000;
	}
}

.card {
	padding: 0%;
	margin: 0px;
	background-color: #ffff;
	border-radius: 16px;
	box-shadow: none;
	// min-height: 200px;

	ion-card-content {
		padding: 16px 24px 16px 24px;
		background-color: #ffff;

		.row-one {
			margin-bottom: 5px;
		}

		.real-money {
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 500;
			line-height: 17px;
			letter-spacing: 0.01em;
			color: #3E3E3E;
		}

		.money {
			font-family: 'NotoSans';
			font-size: 21px;
			font-weight: 700;
			line-height: 25px;
			letter-spacing: 0.01em;
			color: #3E3E3E;
		}

		.available {
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0em;
			color: #3E3E3E;

		}

		.available-money {
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0em;
			color: #3E3E3E;
		}

		.in-play {
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0em;
			color: #3E3E3E;

		}

		.in-play-money {
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0em;
			color: #3E3E3E;
		}



		.toggle {

			ion-toggle {
				border-radius: 16px;
				height: 32px;
				width: 20px;
				--track-background: #D9D9D9;
				--track-background-checked: #164D59;
				--handle-width: calc(20px - (2px * 2));
			}

			.deposit-button {
				--border-radius: 24px;
				--background: #164D59;
				font-family: 'NotoSans';
				font-size: 14px;
				font-weight: 500;
				line-height: 13px;
				letter-spacing: 0.01em;
				--box-shadow: none;
			}

			.withdraw-button {
				--border-radius: 24px;
				--background: #D3EAEB;
				font-family: 'NotoSans';
				font-size: 14px;
				font-weight: 500;
				line-height: 13px;
				letter-spacing: 0.01em;
				color: #164D59;
				--box-shadow: none;
			}

			.text {
				font-family: 'NotoSans';
				font-size: 14px;
				font-weight: 400;
				line-height: 13px;
				letter-spacing: 0em;
				color: #3E3E3E;
			}

			ion-toggle::part(handle) {
				background-color: #ffff;
				box-shadow: none;
				height: 12px;
				width: 12px;
			}
		}
	}
}

ion-modal {
	--border-radius: 36px
}

.modal-handle::before {
	-webkit-padding-start: 4px;
	padding-inline-start: 4px;
	-webkit-padding-end: 4px;
	padding-inline-end: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	position: absolute;
	width: 36px;
	height: 5px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: "";
}

.transactions {
	margin-top: 24px;

	.heading {
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0.01em;
		color: #2B2D42;

	}

	.view-all-corner {
		font-family: "NotoSans";
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0.01em;
		color: #164D59;
		margin: 0px;
		padding-bottom: 12px;
	}

	.transaction-header {
		font-family: "NotoSans";
		font-size: 16px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0.01em;
		color: #2B2D42;
		margin: 0px;
		padding-bottom: 12px;
	}

	.date {
		margin-top: 3px;
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #858585;
	}

	.text-approved {
		font-family: 'NotoSans';
		font-size: 13px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #08AA49;
	}

	.text-pending {
		font-family: 'NotoSans';
		font-size: 13px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #EF580F;
	}

	.text-rejected {
		font-family: 'NotoSans';
		font-size: 13px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #EF580F;
	}

	.amount {
		font-family: "NotoSans";
		font-size: 15px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.01em;
		margin-right: 11px;
		color: #2E2E2E;
	}

	.transaction-type {
		color: #000;
		font-weight: 500;
		font-size: 15px;
	}

	ion-icon {
		margin: -3px
	}

	.view-all-transactions {
		margin-top: 15px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		ion-button {
			--background: #D3EAEB;
			--border-radius: 24px;
			--box-shadow: none;
			// max-width: 160px;
			--max-height: 32px;
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 500;
			line-height: 13px;
			letter-spacing: 0.01em;
			text-align: center;
			color: #164D59;
		}
	}
}

.deposit {
	background-color: #ffff;

	.container {
		padding: 24px;

		.btn-payments-deposit {
			height: 48px;
			--border-radius: 24px;
			--background: #164D59;
			padding: 0px 0px 0px 0px;
			width: 100%;
			span {
				margin-left: 10px;
				margin-top: 2px;
			}
		}
	}

	.heading {
		font-family: "NotoSans";
		font-size: 16px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0.01em;
		color: #2B2D42;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.grid {
		margin-top: 12px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: fr 1fr 1fr;
		grid-gap: 10px;
		padding-bottom: 10px;

		.amount-div {
			width: 100%;
			height: 40px;
			border-radius: 48px;
			border: 0.8px solid #000;
			padding: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.amount {
			font-family: 'NotoSans';
			font-size: 13px;
			font-weight: 500;
			line-height: 16px;
			letter-spacing: 0.01em;
			color: #3E3E3E;
			display: flex;
			justify-content: center;
			align-items: center;
		}


	}

	.grid div {
		width: 100%;
	}

	.text {
		font-family: 'NotoSans';
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0.01em;
		color: #AD7637;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.text-amount {
		font-family: 'NotoSans';
		font-size: 13px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.01em;
		color: #AD7637;
	}

	.select-payment-methods {
		font-family: 'NotoSans';
		font-size: 16px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #3E3E3E;
		padding-bottom: 10px;
	}

	.divider {
		border: 0.8px dashed #888888E5;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.order-summary {
		margin-top: 10px;

		ion-col {
			margin-left: 0xp;
			padding-left: 0px;
		}
	}

	.checkbox-label {
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #3E3E3E;
	}

	.input {
		margin-top: 12px;
		margin-bottom: 12px;
		background: #AFAFAF;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	// .input-fill-solid {
	//     min-height: 40px;
	//     margin-bottom: 5px;
	// }

	.payment-name {
		text-align: center;
		font-family: 'NotoSans';
		font-size: 8px;
		font-weight: 400;
		line-height: 10px;
		letter-spacing: 0.01em;
		color: #000000
	}

	.features {
		margin-top: 12px;
		margin-bottom: 16px;
		background-color: #EFF6FD;

		.border {
			border-right: 1px solid #888888E5;
		}
	}

	.withdraw-features {
		margin-top: 12px;
		margin-bottom: 16px;
		background-color: #EFF6FD;
		min-height: 64px;
		display: flex;
		justify-content: left;
		align-items: center;

		ion-label {
			margin-left: 24px;
			margin-right: 5px;
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0.01em;
		}

		span {
			margin-left: 5px;
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0.01em;
		}
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 16px;
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 0.01em;

		ion-button {
			--box-shadow: none;
		}

	}

	.insufficient-balance {
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.01em;
		color: #462C19;
		background-color: #E5D7A3;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		border-radius: 2px;
	}

	.min-amount {
		font-family: 'NotoSans';
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
		letter-spacing: 0em;
		color: #3E3E3E;

		span {
			font-family: 'NotoSans';
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0em;
			color: #1E1E1E;
		}
	}

	.buy-amount {
		font-family: 'NotoSans';
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0.01em;
		color: #3E3E3E;

		span {
			font-family: 'NotoSans';
			font-size: 13px;
			font-weight: 500;
			line-height: 16px;
			letter-spacing: 0.01em;
			color: #164D59;
		}

	}

	
}



.no-data-found {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	transform: translateY(-20%);
}