<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<div style="display: flex;align-items: center;">
			<ion-buttons slot="start">
				<ion-button fill="clear" routerLink="/home">
					<ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title class="ion-no-padding" routerLink="/home">My Wallet</ion-title>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div class="container">
		<!-- <ion-card class="ion-no-padding" class="card">
			<ion-card-content>
				<ion-row class="row-one">
					<ion-col size="6" class="ion-text-left">
						<div class="real-money">Available Balance</div>
					</ion-col>
					<ion-col size="6" class="ion-text-right">
						<div class="money">₹{{ walletAmount }}</div>
					</ion-col>
				</ion-row>

				<ion-row class="toggle">
					<ion-col size="6" class="ion-no-margin ion-no-padding">
						<div class="ion-text-center">

							<ion-button id="deposit" expand="block" class="deposit-button"
								(click)="depositGesture()">Deposit</ion-button>
						</div>
					</ion-col>
					<ion-col size="6" class="ion-no-margin ion-no-padding">
						<div class="ion-text-center">
							<ion-button disabled="true" id="Buy-In" expand="block" class="withdraw-button"
								(click)="selectBuyIn()">Buy-In</ion-button>
						</div>
					</ion-col>

					<ion-col size="12" class="ion-no-margin ion-no-padding ion-text-center">
						<div class="ion-text-center">
							<ion-button id="withdraw" expand="block" class="withdraw-button"
								(click)="selectWithdraw()">Withdraw</ion-button>
						</div>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card> -->
		<ion-card class="ion-no-padding" class="info">
			<ion-card-content>
				<div style="display: flex;justify-content: space-between;">
					<div>
						<div class="balance-header">
							Available Balance
						</div>
						<div class="balance">
							₹ {{ walletAmount }}
						</div>
					</div>
					<div>
						<img src="./assets/images/icon_1.png" style="height: 50px;width: 50px;">
					</div>
				</div>

				<div style="padding-top: 70px;">
					<ion-row>
						<ion-col size="9" class="customer-name ion-text-left ion-no-margin ion-no-padding">
							{{ customer?.customer_name }}
						</ion-col>
						<ion-col size="3" class="customer-code ion-text-right ion-no-margin ion-no-padding">
							{{ customer?.customer_no }}
						</ion-col>
					</ion-row>
				</div>
			</ion-card-content>
		</ion-card>
		<div class="buttons">
			<div style="display: flex;justify-content: space-between;gap: 8px;padding-bottom: 8px;">
				<div style="width: 100%;">
					<ion-button id="deposit" class="deposit-button" expand="block" (click)="depositGesture()">
						Deposit
					</ion-button>
				</div>
				<div style="width: 100%;">
					<ion-button id="withdraw" class="deposit-button" expand="block" (click)="selectWithdraw()">
						Withdraw
					</ion-button>
				</div>
			</div>
			<div style="display: flex;justify-content: space-between;gap: 8px;">
				<div style="width: 100%;">
					<ion-button class="buy-in-button" expand="block">
						Buy-In
					</ion-button>
				</div>
				<div style="width: 100%;">
					<ion-button class="buy-in-button" expand="block">
						Cashout
					</ion-button>
				</div>
			</div>
		</div>
		<div class="transactions">
			<div style="display: flex;justify-content: space-between;">
				<div class="transaction-header">Transactions</div>
				<div class="view-all-corner" routerLink="/transactions">
					View All
				</div>
			</div>
			<ion-card class="ion-no-padding" class="card">
				<ion-card-content>
					<ion-list lines="full">
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;"
							*ngFor="let transaction of transactions" (click)="viewTransaction(transaction)">
							<ion-row>
								<ion-col class="ion-text-left date" size="8"
									style="padding-bottom: 0px;margin-bottom: 0px;">{{
									changeFormat(transaction.transaction_date_time) }}</ion-col>
								<ion-col size="4" class="ion-text-right"
									style="padding-bottom: 0px;margin-bottom: 0px;">
									<span class="text-approved" *ngIf="transaction.status == 'Approved'">Approved</span>
									<span class="text-pending" *ngIf="transaction.status == 'Pending'">Pending</span>
									<span class="text-rejected" *ngIf="transaction.status == 'Rejected'">Rejected</span>
								</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="8" style="padding-top: 2px;margin-top: 0px;">
									<span class="transaction-type">{{ transaction.transaction_type }} : {{
										transaction.transaction_no }}
									</span>
								</ion-col>
								<ion-col size="4" class="ion-text-right" style="padding-top: 2px;margin-top: 0px;">
									<span class="amount">₹{{ transaction.amount }}</span>
									<ion-icon name="chevron-forward"></ion-icon>
								</ion-col>
							</ion-row>
						</div>
						<div class="view-all-transactions" *ngIf="transactions?.length!=0">
							<div class="ion-text-center">
								<ion-button id="transactions" expand="block" routerLink="/transactions">View All
									Transactions
								</ion-button>
							</div>
						</div>
						<div class="view-all-transactions" *ngIf="transactions?.length==0">
							<div class="ion-text-center">
								<ion-button expand="block">No Transactions</ion-button>
							</div>
						</div>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
	<ion-modal #deposit_modal trigger="deposit" [initialBreakpoint]="0.5" [breakpoints]="[ 0,0.75]"
		(willDismiss)="dismissModal($event)">
		<ng-template>
			<ion-content class="deposit">
				<div class="container">
					<div class="heading">Make a Deposit</div>
					<div>
						<div class="select-payment-methods">Select Amount</div>
						<div class="grid">
							<div id="1000" class="amount-div" (click)="selectDepositAmount(1000)">
								<div class="amount">
									₹1000</div>
							</div>
							<div id="2500" class="amount-div" (click)="selectDepositAmount(2500)">
								<div class="amount">₹2500</div>
							</div>
							<div id="5000" class="amount-div" (click)="selectDepositAmount(5000)">
								<div class="amount">₹5000</div>
							</div>
							<div class="amount-div" (click)="showOthers()">
								<div class="amount">Others</div>
							</div>
						</div>
					</div>
					<ion-input type="number" class="input" label="₹ Enter Amount" labelPlacement="floating" fill="solid"
						*ngIf="others" [(ngModel)]="meta.amount"></ion-input>
					<div class="text" *ngIf="meta.amount!=null && meta.amount!=''"><span class="text-amount">₹{{
							meta.amount }}</span> will
						get credited to your Golden Aces wallet
					</div>
					<div class="text" *ngIf="meta.amount==null || meta.amount==''"><span
							class="text-amount">₹0.00</span> will get credited
						to your Golden Aces wallet
					</div>
					<ion-row class="button">
						<ion-button class="btn-payments-deposit ion-text-center" expand="block" (click)="phonePe()">
							<!-- <img #swipe src="./assets/images/Playicon-button 32x32.png" alt="Golden Aces"> -->
							<span #swipetext>Pay Now</span>
						</ion-button>
					</ion-row>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
	<ion-modal #withdraw_modal trigger="withdraw" [initialBreakpoint]="0.75" [breakpoints]="[ 0,0.75]"
		(willDismiss)="dismissModal($event)">
		<ng-template>
			<ion-content class="deposit">
				<div class="container">
					<div class="heading">Make a Withdrawal</div>
					<div class="select-payment-methods">Amount you want to withdraw</div>
					<ion-input id="withdraw_amount" type="number" class="input" label="₹ Enter Amount"
						labelPlacement="floating" fill="solid" [(ngModel)]="meta.amount"
						(ionInput)="onChange($event)"></ion-input>
					<div class="error-container" *ngIf="errors && errors.amount">
						<ng-container>
							<div class="error-message" *ngIf="errors && errors.amount">
								<ion-icon name="information-circle-outline"></ion-icon>
								<span>
									{{ errors?.amount[0] }}
								</span>
							</div>
						</ng-container>
					</div>

					<ion-row class="button" *ngIf="meta.tds == null">
						<ion-button class="btn-payments ion-text-center" (click)="calculateTds()">
							<span>Calculate TDS</span>
						</ion-button>
					</ion-row>
					<div *ngIf="meta.tds!=null">
						<div class="select-payment-methods">Order Summary:</div>
						<div class="order-summary">
							<ion-row>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">Available Amount</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹{{ walletAmount }}</div>
								</ion-col>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">Withdrawal Amount</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹{{ meta.amount }}</div>
								</ion-col>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">TDS</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹{{ meta.tds }}</div>
								</ion-col>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">Amount after TDS</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹{{meta.earnings }}</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</div>
				<ion-row class="withdraw-features ion-text-center" *ngIf="meta.tds!=null">
					<div><ion-label>Amount will be deposited into</ion-label></div>
					<img src="./assets/images/Playiconbank 32x32.png" alt="Golden Aces">
					<span>your bank account</span>
				</ion-row>
				<ion-row class="button" *ngIf="meta.tds!=null">
					<ion-button class="btn-payments ion-text-center" (click)="confirmWithdrawal()">
						<span>Confirm Withdrawal</span>
					</ion-button>
				</ion-row>
			</ion-content>
		</ng-template>
	</ion-modal>
	<ion-modal #buy_in_modal trigger="Buy-In" [initialBreakpoint]="0.5" [breakpoints]="[ 0,0.5, 0.75]"
		(willDismiss)="dismissModal($event)">
		<ng-template>
			<ion-content class="deposit">
				<div *ngIf="logStatus == 'CheckOut'">
					<div class="container">
						<ion-row>
							<ion-col size="6"
								class="heading ion-text-left ion-no-margin ion-no-padding">Buy-In</ion-col>
							<ion-col size="6" class="heading ion-text-right " *ngIf="walletAmount == 0">
								<div class="insufficient-balance">Insufficient balance</div>
							</ion-col>
						</ion-row>
						<div class="order-summary">
							<ion-row>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">Current balance</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹{{walletAmount}}</div>
								</ion-col>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">Min-Buy-In</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹20.00</div>
								</ion-col>
								<ion-col size="12" class="ion-text-left" *ngIf="walletAmount!=0">
									<div class="select-payment-methods">Select Amount</div>
									<div class="grid">
										<div id="1000" class="amount-div" (click)="selectBuyinAmount(1000)">
											<div class="amount">
												1000</div>
										</div>
										<div id="2500" class="amount-div" (click)="selectBuyinAmount(2500)">
											<div class="amount">2500</div>
										</div>
										<div id="5000" class="amount-div" (click)="selectBuyinAmount(5000)">
											<div class="amount">5000</div>
										</div>
										<div class="amount-div" (click)="showOthers()">
											<div class="amount">Others</div>
										</div>
									</div>
									<ion-input type="number" class="input" label="₹ Enter Amount"
										labelPlacement="floating" fill="solid" *ngIf="others"
										[(ngModel)]="meta.amount"></ion-input>
								</ion-col>
								<ion-col size="12">
									<div class="divider"></div>
								</ion-col>
								<ion-col size="12" *ngIf="walletAmount == 0">
									<div class="min-amount">
										The minimum amount of chips required to sit at a table is <span>₹20</span>. You
										do
										not have
										enough chips to sit down. Please make a deposit to play-in.
									</div>
								</ion-col>
								<ion-col size="12" class="ion-text-center" *ngIf="walletAmount!=0">
									<div class="buy-amount" *ngIf="meta.amount!=null && meta.amount!=''">
										You are buying in for <span>₹{{ meta.amount }}</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
					<ion-row class="button">
						<ion-button id="deposit" class="btn-payments ion-text-center" *ngIf="walletAmount!=0"
							[disabled]="walletAmount==0 ||meta.amount == null || meta.amount == '0'" (click)="buyIn()">
							<span>Confirm</span>
						</ion-button>
						<ion-button class="btn-payments ion-text-center" *ngIf="walletAmount==0" (click)="closeBuyIn()">
							<span>Make A Deposit</span>
						</ion-button>
					</ion-row>
				</div>
				<div *ngIf="logStatus == 'CheckIn'">
					<div class="no-data-found">
						<img src="assets/images/logo.png" alt="Golden Aces">
						<p>Please Check-In<br>in order to carry out this transaction.</p>
					</div>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
	<ion-modal #cash_out_modal trigger="Cash-Out" [initialBreakpoint]="0.5" [breakpoints]="[ 0,0.5, 0.75]"
		(willDismiss)="dismissModal($event)">
		<ng-template>
			<ion-content class="deposit">
				<div *ngIf="logStatus == 'CheckOut'">
					<div class="container">
						<ion-row>
							<ion-col size="6"
								class="heading ion-text-left ion-no-margin ion-no-padding">Cash-Out</ion-col>
							<ion-col size="6" class="heading ion-text-right " *ngIf="walletAmount == 0">
								<div class="insufficient-balance">Insufficient balance</div>
							</ion-col>
						</ion-row>
						<div class="order-summary">
							<ion-row>
								<ion-col size="6" class="ion-text-left">
									<div class="select-payment-methods">Current balance</div>
								</ion-col>
								<ion-col size="6" class="ion-text-right">
									<div class="select-payment-methods">₹{{walletAmount}}</div>
								</ion-col>
								<ion-col size="12" class="ion-text-left" *ngIf="walletAmount!=0">
									<div class="select-payment-methods">Select Amount</div>
									<div class="grid">
										<div id="1000" class="amount-div" (click)="selectCashOutAmount(1000)">
											<div class="amount">
												1000</div>
										</div>
										<div id="2500" class="amount-div" (click)="selectCashOutAmount(2500)">
											<div class="amount">2500</div>
										</div>
										<div id="5000" class="amount-div" (click)="selectCashOutAmount(5000)">
											<div class="amount">5000</div>
										</div>
										<div class="amount-div" (click)="showOthers()">
											<div class="amount">Others</div>
										</div>
									</div>
									<ion-input type="number" class="input" label="₹ Enter Amount"
										labelPlacement="floating" fill="solid" *ngIf="others"
										[(ngModel)]="meta.amount"></ion-input>
								</ion-col>
								<ion-col size="12">
									<div class="divider"></div>
								</ion-col>
								<ion-col size="12" class="ion-text-center" *ngIf="walletAmount!=0">
									<div class="buy-amount" *ngIf="meta.amount!=null && meta.amount!=''">
										You are Cashing Out for <span>₹{{ meta.amount }}</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
					<ion-row class="button">
						<ion-button id="deposit" class="btn-payments ion-text-center"
							[disabled]="walletAmount==0 ||meta.amount == null || meta.amount == '0'"
							(click)="cashOut()">
							<span>Confirm</span>
						</ion-button>
					</ion-row>
				</div>
				<div *ngIf="logStatus == 'CheckIn'">
					<div class="no-data-found">
						<img src="assets/images/logo.png" alt="Golden Aces">
						<p>Please Check-In<br>in order to carry out this transaction.</p>
					</div>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>

</ion-content>