<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="signup" text=""></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">Privacy Policy</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<p class="modal-body">
			India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
			experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
			Aces is a must-visit destination!
		</p>
		<p class="modal-body">
			This page is used to inform visitors regarding our policies with the collection, use, and
			disclosure of Personal Information if anyone decided to use our Service.
		</p>
		<p class="modal-body">
			If you choose to use our Service, then you agree to the collection and use of information in
			relation to this policy. The Personal Information that we collect is used for providing and
			improving the Service. We will not use or share your information with anyone except as described
			in this Privacy Policy.

			The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
			which are accessible at Golden Aces unless otherwise defined in this Privacy Policy.
		</p>
		<div class="modal-heading">
			Information Collection and Use
		</div>
		<p class="modal-body">
			India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
			experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
			Aces is a must-visit destination!
		</p>
		<p class="modal-body">
			India's legal Poker and entertainment destination, Golden Aces offers an extraordinary gaming
			experience, live entertainment and amazing food. Rated as the Best Poker House in India, Golden
			Aces is a must-visit destination!
		</p>
	</div>
</ion-content>