<ion-header>
	<ion-toolbar>
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" (click)="close()">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;">
						<span *ngIf="term">{{term?.term}}</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<p class="content ion-margin-vertical" [innerHTML]="term.description">
		</p>
	</div>
</ion-content>