:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
    --background: #fff;
}

ion-header {
    z-index: 1;
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 200px;
}

.container {
    padding: var(--page-margin);
    padding-top: 100px;
}

.heading {
    margin-top: 48px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        font-family: 'NotoSans';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

.card {
    z-index: 1;
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 200px;

    swiper-container {
        min-height: 200px;

        swiper-slide {
            padding-top: 16px;
            padding-left: 32px;
            padding-right: 32px;
            min-height: 200px;
        }
    }

    ion-item {
        --background: #001317;
        --border-color: #575C76;

        .customer {
            padding-left: 16px;
        }
    }

    ion-card-content {
        padding: 0px;
        background: url('/assets/images/Rectangle 27.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;
        height: 256px;

        .background-img {
            width: 100%;
            height: 100%;
            opacity: 72%;
        }

        .frame {
            height: 32px;
            width: 49px;
        }
    }
}

.avatar {
    width: 100%;

    ion-avatar {
        position: absolute;
        top: 10.0rem;
        left: 50%;
        z-index: 1;
        transform: translate(-50%);
        // display: flex;
        // justify-content: center;
    }

    .qrcode {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.profile-details {
    margin-top: 45px;

    .profile-name {
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        color: #164D59;

    }

    .mob {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        color: #495057;

    }
}

.transactions {
    padding: 0%;
    margin: 0%;

    .items {
        border-bottom: 0.4px solid #AAAAAA;
        margin-bottom: 10px;
    }

    .basic-details {
        margin-top: 3px;
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #262626;
        padding: 0%;
    }

    p {
        margin: 0%;
    }

    .pending {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        color: #462C19;
        background-color: #E5D7A3;
        border-radius: 8px;
        padding: 5px;
        text-align: center;
        width: 64px;
    }
    .approved {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        color: #fff;
        background-color: #08AA49;
        border-radius: 8px;
        padding: 5px;
        text-align: center;
        width: 64px;
    }

    .share {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        color: #462C19;
        border-radius: 16px;
        padding: 5px;
        width: 64px;
        color: #164D59;
        text-align: center;
        background-color: #D3EAEB;
        float: right;
    }

    .code {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 0em;
        color: #164D59;
        margin-left: 5px;
    }

    .copy {
        margin-top: -4px;
        margin-left: 5px;
    }

    .details {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        color: #3E3E3E;
    }

    .others {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #262626;
        margin-bottom: 15px;
    }

    ion-icon {
        margin: -3px;
        height: 16px;
        width: 16px;
    }
}