<ion-header>
	<ion-toolbar>
		<ion-card class="card">
			<ion-card-content>
				<ion-row class="heading">
					<ion-col size="1.5" routerLink="/home">
						<img src="./assets/images/Playicon_profile 32x32.png" alt="Golden Aces" alt="Golden Aces">
					</ion-col>
					<ion-col size="10.5" style="display: flex;align-items: center;">
						<span>My Profile</span>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
		<div class="avatar">
			<ion-avatar style="width: 80px;height: 80px;">
				<img [src]="customer?.avatar" alt="Golden Aces" alt="Golden Aces">
				<!-- <img class="qrcode" alt="Golden Aces" alt="Golden Aces" src="./assets/images/Playicon-button 32x32.png"
					*ngIf="logStatus == 'CheckOut'" (click)="checkOutConfirm()">
				<img class="qrcode" alt="Golden Aces" alt="Golden Aces" src="./assets/images/Rectangle 8.png"
					*ngIf="logStatus == 'CheckIn'" (click)="generateQRCode()"> -->
			</ion-avatar>
		</div>
		<div class="ion-text-center profile-details" style="margin-top: 45px;">
			<div class="profile-name">{{ customer?.customer_name }}</div>
			<div class="mob">+91 {{ customer?.mobile_no }}</div>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="container">
		<div class="transactions">
			<ion-list lines="full">
				<!-- <div class="items">
					<ion-row routerLink="basic-details">
						<ion-col class="ion-text-left basic-details" size="10">Basic Details</ion-col>
						<ion-col size="2" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">Add Or Modify Mobile Number,Email Address</p>
					</ion-row>
				</div> -->
				<div class="items" routerLink="update-kyc">
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="4">KYC Verification</ion-col>
						<ion-col class="ion-text-left ion-no-padding ion-no-margin" size="4">
							<span class="pending" *ngIf="customer?.kyc_status == 0">Pending</span>
							<span class="approved" *ngIf="customer?.kyc_status == 1">Approved</span>
						</ion-col>
						<ion-col size="4" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">PAN Verification status, Aadhar card,Bank details</p>
					</ion-row>
				</div>
				<div class="items" routerLink="manage-notifications">
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="10">Manage Notifications</ion-col>
						<ion-col size="2" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">Manage how you want to receive updates</p>
					</ion-row>
				</div>
				<!-- <div class="items" routerLink="choose-language">
					<ion-row >
						<ion-col class="ion-text-left basic-details" size="10">Change Languages</ion-col>
						<ion-col size="2" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">Change The Language You Use In The Golden Aces App</p>
					</ion-row>
				</div> -->
				<div class="items" *ngIf="customer?.referral_status == true">
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="7">Invite friends get rewards</ion-col>
						<ion-col size="5" class="ion-text-right" (click)="selectShareOption()">
							<div class="share">Share</div>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">The Referral code</p><span class="code"
							*ngIf="referral_code">{{ referral_code }}</span><span
							*ngIf="!referral_code"><ion-skeleton-text [animated]="true"
								style="width: 25px"></ion-skeleton-text></span>

						<span class="copy" (click)="copy()" *ngIf="referral_code"><img
								src="./assets/images/copy_32x32.png" alt="Golden Aces">
						</span>
					</ion-row>
				</div>
				<div class="items" routerLink="about-us">
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="10">About App</ion-col>
						<ion-col size="2" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">About Us, Privacy Policy, Terms & Conditions</p>
					</ion-row>
				</div>
				<div class="items" routerLink="help-faqs">
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="10">Club Rules</ion-col>
						<ion-col size="2" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<p class="ion-text-left details">Help & FAQ's</p>
					</ion-row>
				</div>
				<div class="items" (click)="logoutConfirm()">
					<ion-row>
						<ion-col class="ion-text-left basic-details" size="10">Logout</ion-col>
						<ion-col size="2" class="ion-text-right"><span>
								<ion-icon name="chevron-forward"></ion-icon>
							</span>
						</ion-col>
					</ion-row>
					<ion-row style="margin-bottom: 10px;">
						<!-- <p class="ion-text-left details">Checkout the Options</p> -->
					</ion-row>
				</div>
			</ion-list>
		</div>
	</div>
</ion-content>