.position {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // width: -webkit-fill-available;
}

ion-content {
    --background:#000
}