<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<div style="display: flex;align-items: center;">
			<ion-buttons slot="start">
				<ion-button fill="clear" routerLink="/wallet">
					<ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title class="ion-no-padding"  routerLink="/wallet">Transactions</ion-title>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div class="container">
		<div class="transactions" *ngIf="transactions">
			<ion-card class="ion-no-padding" class="card" *ngIf="transactions.length!=0">
				<ion-card-content>
					<ion-list lines="full">
						<div *ngFor="let transaction of transactions"
							style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;"
							(click)="viewTransaction(transaction)">
							<ion-row>
								<ion-col class="ion-text-left date" size="8" style="padding-bottom: 0px;margin-bottom: 0px;">{{
									changeFormat(transaction.transaction_date_time) }}</ion-col>
								<ion-col size="4" class="ion-text-right" style="padding-bottom: 0px;margin-bottom: 0px;">
									<span class="approved" *ngIf="transaction.status == 'Approved'">Approved</span>
									<span class="pending" *ngIf="transaction.status == 'Pending'">Pending</span>
									<span class="rejected" *ngIf="transaction.status == 'Rejected'">Rejected</span>
								</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="8"  style="padding-top: 2px;margin-top: 0px;">
									<span class="transaction-type">
									{{ transaction.transaction_type }} : {{
									transaction.transaction_no }}
								</span>
							</ion-col>
								<ion-col size="4" class="ion-text-right"  style="padding-top: 2px;margin-top: 0px;">
									<span class="amount">₹{{transaction.amount}}</span>
									<ion-icon name="chevron-forward"></ion-icon>
								</ion-col>
							</ion-row>
						</div>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
		<div *ngIf="!transactions">
			<ion-card class="ion-no-padding" class="card">
				<ion-card-content>
					<ion-list lines="full">
						<div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"
							style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<ion-row>
								<ion-col class="ion-text-left date" size="6">
									<ion-skeleton-text [animated]="true" style="width: 20px"></ion-skeleton-text>
								</ion-col>
								<ion-col size="6" class="ion-text-left">
									<span class="approved"><ion-skeleton-text [animated]="true"
											style="width: 50px"></ion-skeleton-text></span>
								</ion-col>
							</ion-row>
							<ion-row style="margin-bottom: 10px;">
								<ion-col class="ion-text-left" size="6"> <ion-skeleton-text [animated]="true"
										style="width: 80px"></ion-skeleton-text></ion-col>
								<ion-col size="6" class="ion-text-right">
									<span class="amount"><ion-skeleton-text [animated]="true"
											style="width: 20px"></ion-skeleton-text></span>
									<ion-icon name="chevron-forward"></ion-icon>
								</ion-col>
							</ion-row>
						</div>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
		<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="meta.page==meta.last_page">
			<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Data.....">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
		<div *ngIf="transactions?.length==0">
			<div id="container">
				<img src="assets/images/logo.png" alt="Golden Aces">
				<p>No data found.</p>
				<span>Please check back later !...</span>
			</div>
		</div>
	</div>
	<ion-fab slot="fixed" vertical="bottom" horizontal="center" *ngIf="transactions?.length!=0">
		<ion-fab-button id="filter">
			<img src="./assets/images/filter.png" alt="Golden Aces">
		</ion-fab-button>
	</ion-fab>
	<ion-modal #filter trigger="filter" [initialBreakpoint]="0.75" [breakpoints]="[ 0.75, 1]"
		(willDismiss)="onWillDismiss($event)">
		<ng-template>
			<ion-content class="deposit">
				<div class="container">
					<div class="heading">Filter</div>
					<ion-row class="from-date">
						<ion-col size="6" class="ion-no-padding">
							<ion-button id="from-date" class="btn-selected">
								<img style="margin-right: 10px;" src="./assets/images/Calendar 24x24.png"
									alt="Golden Aces">
								<span *ngIf="meta.from_date==null">From Date</span><span *ngIf="meta.from_date!=null">{{
									meta.from_date }}</span>
								<img id="from-date-img" style="margin-left: 10px; transform: rotate(90deg)"
									src="./assets/images/Dropdown icon.png" alt="Golden Aces">
							</ion-button>
							<ion-popover mode="ios" trigger="from-date" (didPresent)="fromDatedidPresent($event)"
								(ionPopoverDidDismiss)="fromDateionPopoverDidDismiss($event)">
								<ng-template>
									<ion-content class="ion-padding">
										<ion-datetime [showDefaultButtons]="true" presentation="date"
											(ionChange)="handleFromDate($event)"
											[(ngModel)]="meta.from_date"></ion-datetime>
									</ion-content>
								</ng-template>
							</ion-popover>
						</ion-col>
						<ion-col size="6" class="to-date">
							<ion-button id="to-date" class="btn-deselected">
								<img slot="start" style="margin-right: 10px;" src="./assets/images/Calendar 24x24.png"
									alt="Golden Aces">
								<span *ngIf="meta.to_date==null">To Date</span><span *ngIf="meta.to_date!=null">{{
									meta.to_date }}</span>
								<img id="to-date-img" style="margin-left: 10px;transform: rotate(90deg)"
									src="./assets/images/Dropdown icon.png" alt="Golden Aces">
							</ion-button>
							<ion-popover mode="ios" trigger="to-date" (didPresent)="toDatedidPresent($event)"
								(ionPopoverDidDismiss)="toDateionPopoverDidDismiss($event)">
								<ng-template>
									<ion-content class="ion-padding">
										<ion-datetime [showDefaultButtons]="true" presentation="date"
											(ionChange)="handleToDate($event)"
											[(ngModel)]="meta.to_date"></ion-datetime>
									</ion-content>
								</ng-template>
							</ion-popover>
						</ion-col>
					</ion-row>
					<div class="select-payment-methods">Quick Selections</div>
					<div class="grid">
						<div id="7" class="amount-div" (click)="handleInterval(7)">
							<div class="amount">
								7 days</div>
						</div>
						<div id="Last 15 days" class="amount-div" (click)="handleInterval('Last 15 days')">
							<div class="amount">Last 15 days</div>
						</div>
						<div id="Last 1 Month" class="amount-div" (click)="handleInterval('Last 1 Month')">
							<div class="amount">Last 1 Month</div>
						</div>
					</div>
					<div class="select-payment-methods">Others</div>
					<div class="other-grid">
						<div id="Deposit" class="amount-div" (click)="handleTransactionTypes('Deposit')">
							<div class="amount">
								Deposit</div>
						</div>
						<div id="Withdraw" class="amount-div" (click)="handleTransactionTypes('Withdraw')">
							<div class="amount">Withdraw</div>
						</div>
						<div id="BuyIn" class="amount-div" (click)="handleTransactionTypes('BuyIn')">
							<div class="amount">Buy-In</div>
						</div>
						<div id="CashOut" class="amount-div" (click)="handleTransactionTypes('CashOut')">
							<div class="amount">Cash-Out</div>
						</div>
					</div>
				</div>
				<ion-row class="button">
					<ion-button expand="block" class="btn-payments-deposit ion-text-center" (click)="getTransactions()">
						<span>Apply Filter</span>
					</ion-button>
				</ion-row>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>