:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
    --background: var(--page-background);
}

.container {
    padding: var(--page-margin);
    // padding-top: 0px !important;
    padding-top: 16px;
}

ion-toolbar {
    --background: #001317 !important;
    border-bottom: 0.24px solid #575C76;
    color: #ffff;

    ion-item {
        --background: #001317;
        padding: 8px;

        .customer_name {
            font-family: 'NotoSans';
            font-size: 12px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
            color: #ffffff;
        }
    }

    ion-buttons {
        margin-left: 16px;
    }
}

ion-fab {
    margin-bottom: 50px;

    ion-fab-button::part(native) {
        background-color: #164D59;
        box-shadow: #164D5999;
    }

}

.heading {
    padding-top: 16px;
    margin-bottom: 16px;

    span {
        font-family: 'NotoSans';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #000000;
    }
}

.card {
    padding: 0%;
    margin: 0px;
    background-color: #ffff;
    border-radius: 16px;
    box-shadow: none;

    ion-card-content {
        padding: 16px 24px 16px 24px;
        background-color: #ffff;
    }
}

.transactions {
    margin-top: 16px;

    .date {
        margin-top: 3px;
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #858585;
    }

    .approved {
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #08AA49;
    }

    .pending {
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #EF580F;
    }

    .rejected {
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #EF580F;
    }

    .amount {
        font-family: "NotoSans";
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.01em;
        margin-right: 11px;
        color: #2E2E2E;
    }

    .transaction-type {
        color: #000;
        font-weight: 500;
        font-size: 15px;
    }

    ion-icon {
        margin: -3px
    }

    .view-all-transactions {
        margin-top: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button {
            --background: #D3EAEB;
            --border-radius: 24px;
            --box-shadow: none;
            max-width: 160px;
            --max-height: 32px;
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #164D59;
        }
    }


}

.deposit {
    background-color: #ffff;

    .container {
        padding: 24px;
    }

    .heading {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #262626;
    }

    .grid {
        margin-top: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        .amount-div {
            height: 32px;
            border-radius: 16px;
            border: 0.8px solid #000;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .amount {
            font-family: 'NotoSans';
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #3E3E3E;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .other-grid {
        margin-top: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        .amount-div {
            height: 32px;
            border-radius: 16px;
            border: 0.8px solid #000;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .amount {
            font-family: 'NotoSans';
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #3E3E3E;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .grid div {
        width: 100%;
    }

    .select-payment-methods {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #3E3E3E;
    }

    .from-date {
        ion-col {
            display: flex;
            align-items: center;
        }

        .btn-selected {
            width: 100%;
            --background: #D3EAEB;
            --box-shadow: none;
            --border-radius: 4px;
            --border: 0.4px solid #164D59;
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #164D59;
        }

        .btn-deselected {
            width: 100%;
            --border-radius: 4px;
            --box-shadow: none;
            --background: #E9ECEF;
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #495057;
        }
    }

    .to-date {
        ion-col {
            display: flex;
            align-items: center;
        }

        .btn-selected {
            width: 100%;
            --background: #D3EAEB;
            --box-shadow: none;
            --border-radius: 4px;
            --border: 0.4px solid #164D59;
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #164D59;
        }

        .btn-deselected {
            width: 100%;
            --border-radius: 4px;
            --box-shadow: none;
            --background: #E9ECEF;
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #495057;
        }
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 16px;
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0.01em;

        ion-button {
            --box-shadow: none;
        }

    }
}

.btn-payments-deposit {
    height: 40px;
    --border-radius: 24px;
    --background: #164D59;
    padding: 0px 0px 0px 0px;
    width: 80%;
    padding: 25px;
    min-width: 208px;

    span {
        margin-left: 10px;
        margin-top: 2px;
    }
}