/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./theme/fonts.scss";

* {
    font-family: NotoSans;
}

:root {
    /* Set the font family of the entire app */
    --ion-font-family: NotoSans;
    --app-background-auth: #FFFFFF;
    --app-background: #E9ECEF;
    --app-background-shade: var(--ion-background-color-step-50, #F2F2F2);
    --app-background-alt: var(--ion-color-primary);
    --app-background-alt-shade: var(--ion-color-primary-shade);

    --app-small-margin: 5px;
    --app-narrow-margin: 12px;
    --app-fair-margin: 16px;
    --app-broad-margin: 24px;

    --app-small-radius: 5px;
    --app-narrow-radius: 4px;
    --app-fair-radius: 8px;
    --app-broad-radius: 12px;

    #container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        img {
            width: 100px;
        }

        p {
            font-size: 18px;
            font-weight: 900;
            line-height: 0px;
        }

        span {
            font-size: 14px;
            color: #8c8c8c;
            margin: 0;
        }
    }

    #container-fluid {
        position: absolute;
        left: 0;
        right: 0;
        top: 45%;
        transform: translateY(-50%);

        img {
            width: 200px;
        }

        p {
            font-size: 18px;
            font-weight: 900;
            line-height: 0px;
        }

        .inputs-list {
            .input-item {
                ion-icon {
                    margin: 15px 10px 5px 5px !important;
                }
            }
        }
    }
}

.error-container {
    margin: calc(var(--page-margin) / 2) 0px;

    .error-message {
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
            padding-inline-end: calc(var(--page-margin) / 2);
        }
    }
}

.loading-translucent.sc-ion-loading-ios-h .loading-wrapper.sc-ion-loading-ios {
    background-color: transparent;
    backdrop-filter: none;
    // padding: 0%;
}

.loader {
    height: 150px;
    width: 150px;
    -webkit-animation: 1.5s rotate linear infinite;
    animation: 1.5s rotate linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.header {
    ion-chip {
        border: 1px solid #000000;

        box-shadow: 0px img {
            height: 10px;
            width: 10px;
        }

        span {
            font-family: 'NotoSans';
            font-size: 10px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
            margin-left: 5px;
            color: #1E1E1E;
        }
    }
}

.form {
    .heading {
        margin-top: 15px;

        .text {
            font-family: 'NotoSans';
            font-size: 20px;
            font-weight: 400;
            line-height: 25.64px;
            color: #1E1E1E;
        }
    }

    .input-item {
        margin-top: 35px;
    }

    .input {
        font-family: 'NotoSans';
        font-size: 18px;
        font-weight: 600;
        line-height: 23.12px;
        color: #1E1E1E;
    }

    .resend {

        .text-1 {
            font-family: 'NotoSans';
            font-size: 18px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.03em;
            color: #858585;
            margin-bottom: 8px;

            .span {
                font-family: 'NotoSans';
                font-size: 18px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.03em;
                color: #858585;
                margin-bottom: 5px;
            }
        }


        .text-2 {
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: -0.03em;
            color: #858585;

            .span {
                font-family: 'NotoSans';
                font-size: 14px;
                font-weight: 790;
                line-height: 16px;
                letter-spacing: -0.03em;
                color: #858585;
                margin-bottom: 5px;
            }
        }
    }

    .item-label-floating {
        font-family: 'NotoSans.TTF';
        font-weight: 400;
        font-size: 14px;
        line-height: 12.53px;
        color: #858585;
        margin-inline: -10px;
    }

    .btn-google {
        --background: #D9D9D9;
        --color: #000000;
        height: 40px;
        border-radius: 8px;
        --box-shadow: none;
        position: absolute;
        width: auto;
        height: 40px;
        top: 80%;
        left: 24px;
        right: 24px;
        bottom: 10%;
        border-radius: 8px;

        ion-label {
            position: absolute;
            left: 0;
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 500;
            line-height: 17.34px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
        }

        img {
            position: absolute;
            right: 0;
            color: #000000;
            height: 11px;
            width: 16px;
        }
    }

    .divider {
        position: absolute;
        left: 50%;
        top: 87%;
        bottom: 10%;
        font-family: 'NotoSans.ttf';
        font-size: 12px;
        font-weight: 457;
        line-height: 12px;
        letter-spacing: -0.03em;
        color: #858585;
    }

    .whatsapp-updates {
        position: absolute;
        width: auto;
        height: auto;
        top: 80%;
        left: 24px;
        right: 24px;
        bottom: 10%;

        ion-label {
            position: absolute;
            left: 21px;
            width: 100%;

            .text-1 {
                font-family: 'NotoSans.ttf';
                font-size: 14px;
                font-weight: 656;
                line-height: 13px;
                letter-spacing: -0.03em;
                color: #858585;
            }

            .text-2 {
                font-family: 'NotoSans.ttf';
                font-size: 12px;
                font-weight: 457;
                line-height: 12px;
                letter-spacing: -0.03em;
                color: #858585;
            }
        }

        ion-avatar {
            height: 24px;
            width: 24px;
            position: absolute;
            left: 0;
        }

        ion-toggle {
            position: absolute;
            right: 0;
            height: 24px;
            width: 48px;
            --track-background: #D9D9D9;
            --track-background-checked: #D9D9D9;
            --handle-width: calc(20px - (2px * 2))
        }

        ion-toggle::part(handle) {
            background-color: #707070;
            box-shadow: none;
            height: 12px;
            width: 12px;
        }
    }
}

.label {
    font-family: 'NotoSans';
    font-size: 18px;
    font-weight: 400;
    line-height: 25.64px;
}

.btn-payments {
    height: 40px;
    --border-radius: 24px;
    --background: #164D59;
    padding: 0px 0px 0px 0px;

    span {
        margin-top: 2px;
    }
}

ion-popover {
    --background: #ffffff;
    --backdrop-opacity: 0.6;
    --color: #ffffff;
    --width: 100%;
    --border: 0.4px solid #262626;
}

ion-datetime {
    --background: #ffffff;
    border-radius: 0.4px solid #262626;
    box-shadow: none;
}

ion-modal::part(handle) {
    -webkit-padding-start: 4px;
    padding-inline-start: 4px;
    -webkit-padding-end: 4px;
    padding-inline-end: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    color: #164D59;
    background-color: #164D59;
    width: 36px;
    height: 5px;
    content: "";
}