:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
    --background: var(--page-background);
}

.container {
    padding: var(--page-margin);
    padding-top: 0px !important;
}

ion-header {
    --background: var(--page-background);

    ion-toolbar {
        --background: var(--page-background);
        padding: 24px 24px 5px 24px;
    }
}

.heading {
    padding-top: 16px;
    margin-bottom: 16px;

    span {
        font-family: 'NotoSans';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #000000;
    }
}
.card {
    padding: 0%;
    margin: 0px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: none;

    ion-card-content {
        padding: 16px 24px 16px 24px;
        background-color: #ffff;
    }
}
.transactions {
    margin-top: 16px;
    ion-icon {
        margin: -3px
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 16px;
    font-family: 'NotoSans';
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.01em;

    ion-button {
        --box-shadow: none;
    }

}

.btn-payments-deposit {
    height: 40px;
    --border-radius: 24px;
    --background: #164D59;
    padding: 0px 0px 0px 0px;
    min-width: 200px;
}