<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-row class="heading">
			<ion-col size="1.5" routerLink="/home">
				<img src="./assets/images/Playiconblack 32x32.png" alt="Golden Aces">
			</ion-col>
			<ion-col size="10.5" style="display: flex;align-items: center;">
				<span>Referral</span>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="container">
		<div class="transactions">
			<ion-card class="ion-no-padding" class="card">
				<ion-card-content>
					<ion-list lines="full">
						<div style="border-bottom: 0.4px solid #AAAAAA;margin-bottom: 10px;">
							<h3>
								How did you hear about us? We would love to hear about it.
							</h3>
							<ion-radio-group [allowEmptySelection]="true" (ionChange)="radio($event)">
								<ion-item class="input-item" *ngFor="let reference_type of reference_types">
									<ion-label>{{ reference_type.reference_type }}</ion-label>
									<ion-radio slot="start" [value]="reference_type.reference_type_id"></ion-radio>
								</ion-item>
							</ion-radio-group>
						</div>
						<ion-row class="button">
							<ion-button class="btn-payments-deposit ion-text-center" (click)="submit()">
								<span>Submit</span>
							</ion-button>
						</ion-row>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
</ion-content>