<ion-header>
	<ion-toolbar class="ion-no-border">
		<div button style="display: flex;justify-content: space-between;padding: 16px;">
			<div style="display: flex;
			justify-content: center;
			align-items: center;">
				<div style="height: 50px;width: 50px;" routerLink="/profile">
					<div style="display: flex;
					justify-content: center;
					align-items: center;">
						<img [src]="customer?.avatar" style="height: 35px;width: 35px;border-radius:50%" />
					</div>
					<div style="display: flex;justify-content: center;align-items: center; padding-top: 5px;">
						<div style="color: #ffff;font-size: 10px;">GA-001</div>
					</div>
				</div>
				<ion-label class="customer" style="margin-left: 8px;" routerLink="/profile">
					<p style="color: #ffff;">
						<span class="customer_name">{{ customer?.customer_name }}</span>
					</p>
					<h6 style="color: #F1D577;">
						<b style="font-size: 20px;">₹{{ walletAmount }}</b>
					</h6>
				</ion-label>
			</div>
			<div style="height: 50px;width: 50px;" *ngIf="logStatus == 'CheckIn'" (click)="generateQRCode()">
				<div style="display: flex;
				justify-content: center;
				align-items: center;">
					<img src="./assets/images/Rectangle 8.png" />
				</div>
				<div style="display: flex;justify-content: center;align-items: center;">
					<div style="color: #ffff;font-size: 10px;">Check-In</div>
				</div>
			</div>
			<div style="height: 50px;width: 50px;" *ngIf="logStatus == 'CheckOut'" (click)="checkOutConfirm()">
				<div style="display: flex;
				justify-content: center;
				align-items: center;">
					<ion-icon color="light" name="log-out-outline"
						style="height: 35px;width: 35px;margin-left: 5px;"></ion-icon>
				</div>
				<div style="display: flex;justify-content: center;align-items: center;">
					<div style="color: #ffff;font-size: 10px;">Check-Out</div>
				</div>
			</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card class="ion-no-padding" class="card">
		<ion-card-content>
			<swiper-container style="width: 100%;height: 175px;" autoplay="{delay: 1000}">
				<swiper-slide *ngFor="let slider of sliders">
					<img class="frame" alt="Golden Aces" [src]="slider.slider" />
				</swiper-slide>
			</swiper-container>
		</ion-card-content>
	</ion-card>
	<div class="container">
		<div style="display: flex;justify-content: space-between;gap: 16px;">
			<div style="width: 100%;">
				<ion-button class="btn-payments" shape="round" expand="block" (click)="scanSeat()">
					Book Seat
				</ion-button>
			</div>
			<div style="width: 100%;">
				<ion-button fill="clear" class="btn-payments-wallet" shape="round" expand="block" (click)="wallet()">
					Wallet
				</ion-button>
			</div>
		</div>
		<div class="bookings" *ngIf="logStatus == 'CheckOut'">
			<p class="booking-header">Your Bookings</p>
			<ion-card class="ion-no-padding" class="bookings-card">
				<ion-card-content>
					<div>
						<div>
							<div style="display: flex;">
								<ion-icon name="location" style="height: 16px;width: 16px;"></ion-icon>
								<ion-label>
									<p class="location" style="margin-bottom: 6px;">{{ branch?.branch_code }}
									</p>
									<div style="padding-left: 5px;">Check-In: 8:00 PM</div>
								</ion-label>
							</div>
						</div>
					</div>
					<div>
						<div class="table">
							<div>
								<span style="font-weight: 400;">Seated: </span> <strong style="font-weight: inherit;">8:00 PM</strong>
							</div>
							<div class="table-details">
								Table 04: Seat 05
							</div>
						</div>
						<div class="table">Waiting</div>
						<div>
							<ion-chip>2.5k</ion-chip>
							<ion-chip>5k</ion-chip>
							<ion-chip>10k</ion-chip>
							<ion-chip>15k</ion-chip>
						</div>
					</div>
				</ion-card-content>
			</ion-card>
		</div>
		<div class="score-streak">
			<p class="booking-header">Score Streak</p>
			<ion-card class="ion-no-padding" class="score-card">
				<img src="./assets/images/Frame 5792.png" style="width: 100%;height: 100%;">
				
			</ion-card>
		</div>
		
		<div class="poker-tut">
			<p class="booking-header">How To play Poker</p>
			<div class="tutorial">
				<swiper-container loop="true" slides-per-view="1" space-between="0" freeMode="true"
					autoplay="{delay: 1000}" pagination="true">
					<swiper-slide class="tutorials" [id]="video.youtube_video_id" *ngFor="let video of videos"
						(click)="playVideo(video)">
						<ion-card class="ion-no-padding ion-no-margin" *ngIf="video">
							<iframe
								style="width: -webkit-fill-available;pointer-events: none;height: -webkit-fill-available"
								width="auto" height="auto" [src]="getUrl(video)" title="YouTube video player"
								frameborder="0"
								allow="accelerometer;clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</ion-card>
					</swiper-slide>
				</swiper-container>
			</div>
		</div>
	</div>
</ion-content>