:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
}

ion-content {
    --background: var(--page-background);
}

ion-toolbar {
    --background: #001317 !important;
    border-bottom: 0.24px solid #575C76;

    ion-item {
        --background: #001317;
        padding: 8px;

        .customer_name {
            font-family: 'NotoSans';
            font-size: 12px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
            color: #ffffff;
        }
    }
}

.btn-payments-wallet {
    height: 40px;
    --border-radius: 24px;
    border-radius: 24px;
    --background: transparent !important;
    border: 1px solid #164D59;
    color: #164D59;
    // --background: #164D59 ;
    padding: 0px 0px 0px 0px;

    span {
        margin-top: 2px;
    }
}

.container {
    padding: var(--page-margin);
}

.checkin-card {
    border-radius: 16px;
    box-shadow: none !important;
    padding: 0px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#FFE3B5, #AC9D85);

    img {
        height: 50px;
        width: 50px;
    }

    ion-icon {
        height: 50px;
        width: 50px;
    }
}

.qrcode {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.card {
    z-index: 1;
    padding: 0%;
    margin: 0%;
    --background: #001317;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    min-height: 250px;
    height: 250px;

    swiper-container {
        min-height: 250px;
        --swiper-scrollbar-drag-bg-color: #EF580F;
        --swiper-scrollbar-bg-color: #3E3E3E;
        --swiper-scrollbar-sides-offset: 25%;
        --swiper-scrollbar-bottom: 10%;
        --swiper-pagination-color: #EF580F;

        swiper-slide {
            // padding-top: 16px;
            // padding-left: 32px;
            // padding-right: 32px;
            min-height: 250px;
        }

    }

    ion-item {
        --background: #001317;
        --border-color: #575C76;

        .customer {
            padding-left: 16px;
        }
    }



    ion-card-content {
        padding: 0px;
        background: url('/assets/images/Rectangle 27.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;
        // height: 256px;

        .background-img {
            width: 100%;
            height: 100%;
            opacity: 72%;
        }

        .frame {
            // height: 32px;
            // width: 49px;
            max-height: 250px;
            height: 250px;
            width: 100%;
            // object-fit: cover;
        }

        .text-1 {
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.01em;
            color: #EAE0D5;
        }

        .text-2 {
            font-family: 'NotoSans';
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #DEE2E6;
        }

        .dot {
            color: #ffffff;
            height: 4px;
            width: 4px;
            background-color: #ffffff;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 1px;
        }

        .services {
            font-family: 'NotoSans';
            font-size: 8px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: 0.01em;
            color: #ffffff;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.searchbar {
    --border: 0.24px solid #858585;
    --border-radius: 4px;
    --box-shadow: none;
}

.searchbar-search-icon.sc-ion-searchbar-md {
    position: absolute;
    inset-inline-start: 16px;
}

.bookings {
    padding-top: 24px;
    // padding-bottom: 24px;
}

.score-streak {
    padding-top: 24px;
}

.poker-tut {
    padding-top: 24px;
}

.booking-header {
    font-family: "NotoSans";
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #2B2D42;
    margin: 0px;
    padding-bottom: 12px;
}

ion-chip {
    background-color: #FFFAE3;
    color: #8C3E11;
    width: 60px;
    justify-content: center;
    font-weight: 500;
}

.bookings-card {
    border-radius: 16px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(#FFE3B5, #AC9D85);

    ion-card-content {
        padding: 16px;
        background: url('/assets/images/Rectangle 64.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;

        .checkin-time {
            font-size: 10px;
        }

        .location {
            font-family: 'NotoSans';
            font-size: 17px;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #12121B;
            margin-bottom: 10px;
            margin-left: 5px;
        }

        .table {
            font-family: 'NotoSans';
            font-size: 16px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: #2B2D42;
            margin-top: 12px;
        }

        .table-details {
            font-size: 20px;
            font-weight: 600;
        }

        .table-time {
            // margin-top: 10px;
            padding: 4px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFFAE3;
            // width: 60px;
            // height: 30px;
            font-family: NotoSans;
            font-size: 14px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.01em;
            color: #8C3E11;
            border-radius: 24px;
        }
    }
}

.score-card {
    border-radius: 16px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    // background: #FFFFFF;
    height: 200px;

    ion-card-content {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
        height: 200px;

        .beginner {
            font-family: 'NotoSans';
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.01em;
            margin-bottom: 10px;
            color: #2B2D42;
        }

        .records-count {
            margin-top: 10px;
        }

        .progress-count {
            margin-bottom: 10px;
        }

        ion-progress-bar {
            border-radius: 8px;
            --background: #E2F1F4;
            --progress-background: #164D59;
        }

        ion-chip {
            --background: #164D59;
            height: 32px;

            span {
                font-family: 'NotoSans';
                font-size: 14px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
            }
        }
    }
}

.tutorial {
    swiper-container {
        padding: 0px;
        height: 225px;
        --swiper-pagination-bullet-inactive-color: #ff0000;
        --swiper-pagination-color: var(--ion-color-danger);
        --swiper-pagination-bottom: -5px;
    }


    ion-card {
        height: 200px;
        width: auto;
        --background: transparent;
        box-shadow: none !important;
    }

    swiper-slide {
        // padding: 16px;
        height: 200px;
        // width: 208px;
        margin: 0px;
        // background: url('/assets/images/Rectangle 22.png') no-repeat center center fixed;
        background-size: cover;
        /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover;
        /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover;
        /* optional for Firefox 3.6 */
        -o-background-size: cover;
        /* for Opera 9.5 */
        overflow: hidden;
        background-size: cover;
        overflow: hidden;
    }

    .tutorials {
        border-radius: 16px;

        span {
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }

        p {
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #E9E9E9;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 5px;
        }
    }
}

.fandb {
    min-height: 326px;
    background-color: #164D59;
    padding: 16px 24px 16px 24px;

    .heading {
        font-family: 'NotoSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #F1D577;
    }

    .text {
        font-family: 'NotoSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #E9ECEF;
    }

    swiper-container {
        --swiper-scrollbar-drag-bg-color: #EF580F;
        --swiper-scrollbar-bg-color: #3E3E3E;
        --swiper-scrollbar-sides-offset: 30%;
        --swiper-scrollbar-bottom: 25%;
        --swiper-scrollbar-size: 4px;
        padding: 0px;

        // --swiper-pagination-bullet-width: 30px;
        // --swiper-pagination-bullet-height: 2px;
        min-height: 232px;

        swiper-slide {
            max-height: auto;
            max-width: auto;
        }

        .dish {
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #E9ECEF;

        }

        .review {
            font-family: 'NotoSans';
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: #E9ECEF;

        }

    }

    .min-order {
        font-family: 'NotoSans';
        font-size: 8px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0.01em;
        text-align: right;
        color: #EDF2F499;
    }
}